body{
    background-color: #b6c5c2;
    height: 1000px;
    background-image: url("../images/passportstamps.jpg");
    background-size: cover;
    background-position: center;
}

header{
    background-color: #b6c5c2;
    height: 50px;
    text-align:center;
    font-size: 30px;
}

#main-container{
    height: 600px;
}

#form-field{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
}

#ipt-lbl{
    font-size: 30px;
}


#input-btn-field{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-evenly;
}

#form-area-img, #results-container, #results-header-txt{
    background-color: rgba(130, 153, 168, 0);
    font-weight: bold;
}

#results-header-text, p{
    font-size: 25px;
    text-decoration: underline;
}

 #results{
    background-color: #8299a8;
    
}