body{
    background-color: #b6c5c2;
    height: 1000px;
    background-image: url("../images/passportstamps.jpg");
    background-size: cover;
    background-position: center;
}

header{
    background-color: #b6c5c2;
    height: 50px;
    text-align:center;
    font-size: 30px;
}

#main-container{
    height: 600px;
}

#form-field, #currency-field{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    padding: 20px;
    justify-content: start;
}

#currency-field{
    height: 150px;
}
#currency-lbl, #ipt-lbl{
    font-size: 20px;
}


#input-field, #currency-display{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-evenly;
}

#currency-display{
    border-style: solid;
    border-color: #b6c5c2;
    height: 100px;
}


#form-area, #results-container, #results-header-txt{
    /* background-color: rgba(130, 153, 168, 0); */
    font-weight: bold;
}

#form-area{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

#results-header-text p{
    font-size: 25px;
    text-decoration: underline;
}

 #results{
    background-color: #8299a8;
    
}



